.image-gallery-slide img {
    display: block;
    height: 450px !important;
    width: 60%;
    margin: 20px auto 0 auto;
}

.image-gallery-right-nav {
    display: none;
}

.image-gallery-left-nav {
    display: none;
}